.banner{
    width: 100%;
    position: relative;
}
.textPossitionOnBanner{
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.textOnBanner{
    font-size: 3rem;
    font-weight: 700;
    color: var(--second);
    
}