.upNav{
    height: 2rem;
    background-color: var(--main);
}
.upNav p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: var(--white);
}
.upNav span{
    font-weight: 700;
    color: var(--white);
}
.nav{
    position: sticky;
}
a,li{
    text-decoration: none;
    list-style:none;
    color: var(--main);
}
.logo a{
    font-size: 2rem;
}
.navigationLink a{
    margin-left:1rem;
    padding: .5rem;
}
.navigationLink a:hover, .active{
    color: var(--white);
    background-color: var(--main);
    border-radius: 5px;
}
.barIcon{
    display: none;
}
@media screen and (max-width: 992px) {
    .resposiveNav{
        display: flex;
        flex-direction: column;
    }
  }
@media screen and (max-width: 780px) {
    .textOnBanner{
        font-size: 16px;
    }
    .resposiveUpNav{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .resposiveUpNav p{
        margin: auto;
    }
    .upNav{
        height: 4rem;
    }
    .resposiveNav{
        position: relative;
    }
    .navigationLink{
        display: flex;
        flex-direction: column;
        justify-content: left;
        position: absolute;
        z-index: 5;
        left: 0;
        background-color: var(--white);
    }
    .barIcon{
        font-size: 30px;
        color: var(--main);
        display: inline;
    }
  }