@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
:root {
  --main: #31a6b0;
  --second:#f15b5a;
  --third:#3a3c41;
  --fourth:#f0f5f8;
  --white: #ffffff;
  --black: #000000;
  --darkGray:#60646d;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.mainButton{
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--second);
    padding: .5rem 1rem;
    border-radius: 5px;
    border:none;
    box-shadow: 2px var(--darkGray);
}
h2{
    font-size: 30px;
    font-weight: 400;
    color: var(--third);
}
h3{
    font-size: 22px;
}
span{
    color: var(--third);
    font-weight: 700;
}
p{
    font-weight: 400;
    font-size: 14px;
    color: var(--third);
    line-height: 1.75;
}

